* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #efecef;
    color: #333;
}

header {
    background: linear-gradient(135deg, #0077ff, #00c6ff);
    color: white;
    padding: 40px 0;
    text-align: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
}

.tagline {
    margin-top: 10px;
    font-size: 18px;
}
section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0077ff;
}
.about p {
    text-align: center;
    line-height: 1.6;
}
.skill-box {
    display: flex;
    justify-content: center;
    gap: 30px;
    perspective: 1000px;
    margin-top: 30px;
}

.skill-card {
    width: 220px;
    height: 180px;
    background: linear-gradient(135deg, #0077ff, #f40606);
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.5s, box-shadow 0.5s;
    cursor: pointer;
}

.skill-card h3 {
    margin-bottom: 10px;
    transform: translateZ(40px);
}

.skill-card p {
    font-size: 14px;
    transform: translateZ(30px);
}

.skill-card:hover {
    transform: rotateY(15deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 25px 40px rgba(0,0,0,0.3);
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.contact p {
    text-align: center;
    margin: 10px 0;
}
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}
